<p style="color: green"><%= notice %></p>

<%= render @comment %>

<h5> <%= "Time: "%> <%= @comment.comment_timestamp%> </h5>
<h5> <%= "Content: "%> <%= @comment.content%> </h5>

<div>
<% if current_user.role == "Administrator" || current_user.role == "Supervisor" || current_user.role == "Executive"%>
  <%= link_to "Edit this comment", edit_comment_path(@comment), :class => "btn btn-primary" %> |
  <%= link_to "Back to comments", comments_path, :class => "btn btn-primary" %> |
  <%= link_to "Home", root_path , :class => "btn btn-primary" %>
  <%= button_to "Delete this comment", @comment, method: :delete, class:"btn btn-danger" %>
<% else %>
  <%= link_to "Back to comments", comments_path, :class => "btn btn-primary" %> |
  <%= link_to "Home", root_path , :class => "btn btn-primary" %>
<% end %>
</div>
