<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
</style>
</head>
<body>

<h2>Current Tickets</h2>
<p>Choose the ticket on the different tabs ordered by urgency</p>

<div class="tab">
  <button class="tablinks" onclick="openTicket(event, 'High')" id="defaultOpen">High</button>
  <button class="tablinks" onclick="openTicket(event, 'Medium')">Medium</button>
  <button class="tablinks" onclick="openTicket(event, 'Low')">Low</button>
</div>

<div id="High" class="tabcontent">
  <h3>High urgency tickets:</h3>
  <div id="High">
  <% highU =Ticket.where(priority: 'High')%>
  <% highU.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "#{ticket.title}", ticket, :class => "btn btn-primary" %>
    </p>
  <% end %>
</div>

</div>

<div id="Medium" class="tabcontent">
  <h3>Medium urgency tickets:</h3>
  <div id="Medium">
  <% medU =Ticket.where(priority: 'Medium')%>
  <% medU.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "#{ticket.title}", ticket, :class => "btn btn-primary" %>
    </p>
  <% end %>
</div>
</div>

<div id="Low" class="tabcontent">
  <h3>Low urgency tickets:</h3>
  <div id="Low">
  <% lowU =Ticket.where(priority: 'Low')%>
  <% lowU.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "#{ticket.title}", ticket, :class => "btn btn-primary" %>
    </p>
  <% end %>
</div>
</div>
<script>
function openTicket(evt, ticket) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(ticket).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 

